body{ 
    background: url(../images/Wallpaper.png);
    
}


.jumbotron{
    font-family: 'Lobster', cursive;
}

#mysteryWord {
    font-size: 100px;
    text-align: center;
}

#guessCounter {
    font-size: 25px;
}

#keysPressed {
    font-size: 25px;
}